@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Spline+Sans:wght@400;500;700&family=Source+Code+Pro&display=swap");

@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
    background-color: #101820;
  }
  
  section {
    scroll-snap-align: start;
  }

  button{
    cursor: pointer;
  }
  
  @theme {
    --font-croissant: 'Croissant One', cursive;
    --font-spline: 'Spline Sans', sans-serif;
    --font-code: 'Source Code Pro', monospace;
    --color-primary: #9D4815;
    --color-secondary: #5A5040;
    --color-dark: #101820;
    --color-accent: #E0CEAA;
    --color-light: #F7F6F3;
  }
}